<!doctype html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">

        <title>짭짤한 쇼핑몰</title>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>

        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">


        <script>
            function order() {
                let name = $("#order-name").val();
                let count = $("#order-count").val();
                let address = $("#order-address").val();
                let phone = $("#order-phone").val();

                if (name == '') {
                    alert('이름을 입력해주세요');
                    $("#order-name").focus();
                } else if (count == '') {
                    alert('수량을 정해주세요');
                    $("#order-count").focus();
                } else if (address == '') {
                    alert('주소를 입력해주세요')
                    $("#order-address").focus();
                } else if (phone == '') {
                    alert('번호를 입력해주세요')
                    $("#order-phone").focus();
                } else {
                    $.ajax({
                        type: "POST",
                        url: "/order",
                        data: {name: name, count: count, address: address, phone: phone},
                        success: function (response) {
                            if (response["result"] == "success") {
                                alert(response['msg']);
                                window.location.reload();
                            }
                        }
                    })
                }
            }

            function showOrder() {
                $.ajax({
                    type: "GET",
                    url: "/order",
                    data: {},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            let orders = response['orders'];
                            for (let i = 0; i < orders.length; i++) {
                                makeCard(orders[i]['name'], orders[i]['count'], orders[i]['address'], orders[i]['phone']);
                            }
                        } else {
                            alert('리뷰를 받아오지 못했습니다');
                        }
                    }
                })
            }

            function makeCard(name, count, address, phone) {
                let tempHtml = `<tr>
                        <td>${name}</td>
                        <td>${count}</td>
                        <td>${address}</td>
                        <td>${phone}</td>
                    </tr>`;
                $("#orders-box").append(tempHtml);
            }
        </script>

        <style>
            .wrap {
                width: 800px;
                margin: 50px auto;
            }

            .info {
                margin-top: 30px;
                margin-bottom: 30px;
            }

            .image {
                background-image: url("https://i.pinimg.com/564x/3d/7a/e9/3d7ae9ebda6391e7e0918bd02701bdf8.jpg");
                background-size: cover;
                background-position: center;
                width: 800px;
                height: 400px;
                border-radius: 20px;
            }

            .order {
                text-align: center;
            }

            .manyOrders {
                margin-top: 100px;
                margin-bottom: 40px;
            }

            h1, h5 {
                display: inline;
            }

            * {
                font-family: 'Nanum Gothic', sans-serif;
            }

            p {
                margin-top: 30px;
                margin-bottom: 30px;
            }


        </style>
    </head>
    <body>

        <div class="wrap">
            <div class="image"></div>
            <div class="info">
                <h1>스모어쿠키</h1>
                <!--                "&nbsp;"는 문장에 띄어쓰기를 주고싶을때 쓰는 언어-->
                &nbsp;&nbsp;&nbsp;
                <h5>가격: 3000원 / 개 </h5>
                <!--                "<br />"은 줄바꿈을 주고싶을때 사용하는 언어-->
                <p>사랑하는 사람과 달콤한 추억을 나누어보세요. 가정집에서 정성들여 만든 달콤한 스모어쿠키!<br/>
                    신선한 버터와 좋은 재료만 사용해서 만들었습니다 :)</p>
                <h2>주문하기</h2>
            </div>
            <div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">주문자 성함:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="order-name">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">수량:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="order-count">
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">주소:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="order-address">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">전화번호:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="order-phone">
                    </div>
                </div>
                <div class="order">
                    <button onclick="order()" type="button" class="orders btn btn-outline-secondary">주문하기</button>
                </div>
            </div>
            <div class="manyOrders">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">이름</th>
                        <th scope="col">수량</th>
                        <th scope="col">주소</th>
                        <th scope="col">전화번호</th>
                    </tr>
                    </thead>
                    <tbody id="orders-box">
                    <tr>
                        <td>김삐삐</td>
                        <td>2</td>
                        <td>안녕시 안녕구 안녕동</td>
                        <td>000-0000-0000</td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>

    </body>
</html>